* 
{  
     font-family: 'Stardos Stencil', sans-serif;
}

body 
{
    padding: 15px;
    background: rgb(204, 132, 164);
    background: radial-gradient(circle, rgba(204, 132, 164, 1) 0%, rgba(71, 72, 159, 1) 100%);
}

img 
{
    border-radius: 50%;
    margin-bottom: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

h1 
{
    margin-bottom: 50px;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 40px;
}

nav 
{
    background-color: yellow;
    margin-bottom: 60px;
    padding: 20px; /*utiliser le padding pour des page responsive sinon utliser le height*/
    position: fixed;
    inset: 0; /*équivalent de top:0;right:0;bottom:0;left:0;*/
    display: grid;
    align-content: center; /*aligne = vertical, justify = horizontal*/
    justify-content: center;
    gap: 25px; /* l'espace entre les elements*/
    text-align: center; /* centrer les mots ou les éléments sur la meme ligne*/
}

ul 
{
    color: black;
    font-weight: 900;
}


p 
{
    color: black;
    font-weight:bold;
}

h2 
{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
}

ul 
{
    margin-left: 20px;
}
/* ------------------------------------------------------------------------------ */


.burger 
{
    position: fixed;
    z-index: 1;
    display: grid;
    width: 40px;
    gap: 8px;
}

.burger span 
{
    height: 4px;
    background-color: black;
    border-radius: 1000px;
}

.burger.cross :nth-child(1)
{
    transform: translateY(12px) rotate(45deg);
    /* deplacement de 12px vers le bas et rotation */
}

.burger.cross :nth-child(2)
{
    transform: translateX(0px) rotate(-40deg);
}

.burger.cross :nth-child(3)
{
    display: none;
}

/* ------------------------------------------------------------------------------ */

@media (min-width: 800px) {
    .picture 
    {
        gap: 20px;
        display: grid;
        grid-template-columns: 3fr 4fr;
        margin-top: 90px;
    }
    .burger 
    {
        display: none;
    }

    nav 
    {
        display: flex;
        bottom: auto;
        padding: 20px;
        justify-content: end;
        
    }

}

/* ------------------------------------------------------------------------------ */


@media (min-width: 1000px) {
    .picture {
        gap: 30px;
        display: grid;
        grid-template-columns: 4fr 8fr;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    img 
    {
        margin-top: 30px;
        width: 90%;
    }
    .content 
    {
        gap: 35px;
        display: grid;
        grid-template-columns: 4fr 4fr;
    }
    h1 {
        text-align: left;
    }
}
