* 
{  
    font-family: 'Stardos Stencil', sans-serif;
}

/* variable */
:root
{
    --transition: 0.5s cubic-bezier(0,2.02,1,-0.36);
}



body 
{
    padding: 15px;
    background-color: #e4cddb;
}

img 
{
    border-radius: 50%;
    margin-bottom: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

h1 
{
    margin-bottom: 50px;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 40px;
}

nav 
{
    background-color: #e4cddb;
    border-bottom:  solid;
    backdrop-filter: blur(12px) ;
    padding: 20px; /*utiliser le padding pour des page responsive sinon utliser le height*/
    position: fixed;
    inset: 0; /*équivalent de top:0;right:0;bottom:0;left:0;*/
    align-content: center; /*aligne = vertical, justify = horizontal*/
    display: grid;

    justify-content: center;
    gap: 25px; /* l'espace entre les elements*/
    text-align: center; /* centrer les mots ou les éléments sur la meme ligne*/
        transform: translateX(-100%); /* pour que la nav disparaisse completement */
        transition: var(--transition);
}

nav a
{
    color: black;
    text-decoration: none;
    font-size:larger;
}
.burger.cross + nav
{
    transform: none;
}

ul 
{
    color: black;
    font-weight: 900;
}


p 
{
    color: black;
    font-weight:bold;
}

h2 
{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
}

ul 
{
    margin-left: 20px;
}
/* ------------------------------------------------------------------------------ */


.burger 
{
    position: fixed;
    z-index: 1;
    display: grid;
    width: 40px;
    gap: 8px;
}
/* ------------- dont repeat ys */
.burger > span 
{
    height: 4px;
    background-color: black;
    transition: var(--transition);
    border-radius:2px;
}

.burger.cross :nth-child(1)
{
    transform: translateY(12px) rotate(45deg);
    /* deplacement de 12px vers le bas et rotation */
}

.burger.cross :nth-child(2)
{
    opacity: 0;
    transform: scale(0.1);
}

.burger.cross :nth-child(3)
{
    transform: translateY(-12px) rotate(-45deg);
}

/* ------------------------------------------------------------------------------ */

@media (min-width: 800px) {
    .picture 
    {
        gap: 20px;
        display: grid;
        grid-template-columns: 3fr 4fr;
        margin-top: 90px;
    }
    .burger 
    {
        display: none;
    }

    nav 
    {
        display: flex;
        bottom: auto;
        padding: 20px;
        justify-content: end;
        transform:none;
        
        
    }

}

/* ------------------------------------------------------------------------------ */


@media (min-width: 1000px) {
    .picture {
        gap: 30px;
        display: grid;
        grid-template-columns: 4fr 8fr;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    img 
    {
        margin-top: 30px;
        width: 90%;
    }
    .container 
    {
        gap: 35px;
        display: grid;
        grid-template-columns: 4fr 4fr;
    }
    h1 {
        text-align: left;
    }

}
