* {
    font-family: 'Stardos Stencil', sans-serif;
    
}

body {
    padding: 25px;
    background: rgb(204, 132, 164);
    background: radial-gradient(circle, rgba(204, 132, 164, 1) 0%, rgba(71, 72, 159, 1) 100%);
}


.picture img {

    width: 350px;
    display: block;
    border-radius: 50%;
 
    
}


h1 {
    /* background-color:beige; */
    color: black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 110px; 
    
}

.big_content
{
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin-top:  -460px;
}

.content1
{
    /* background-color: yellow; */
    width: 50%;
    margin: auto;
    margin-left: 400px;

}

.content1 h2
{
    font-size: 27px;
}

.content1 p
{
    font-size: 20px;
}

.content2
{
    /* background-color: red; */
    margin-top:0px;
    margin-left: 150px;
}

.content2 h3
{
    font-size: 25px;
    margin-left: -20px;
}

.content2 ul
{
    font-size: 20px;
}

/* --------------------------------------------------------- */

@media (max-width: 850px) {
    .big_content {
        grid-template-columns: 1fr;
        margin:auto;
        margin-left: 20px;
        width: 90%;
    }


    h1
    {
        font-size: 50px;
        
    }

    .content1
    {
        width: 90%;
        margin:  auto;
        display: flex;
        flex-direction: column; /* Place le contenu en colonne */
        margin-left: 0px;
    }
    .content2 {
        width: 90%;
        margin:  auto;
        display: flex;
        flex-direction: column; 
        
    }

}

